@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
}

img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}


.product-details.container{
    display: flex;
    flex-direction: row;
}

.navbar-items-container{
    margin-left: 40vw;
}

.navbar-items{
    margin-right: 2rem;
}

.input-search{
    padding: 50px;
    max-width: 1000px;
}

.button-input{
    background-color: black;
}

.home-container{
    display: flex;
    flex-direction: row;
}

.accordion{
    margin-top: 3rem;
    width: 300px;
}

.accordion-item:hover{
    cursor: pointer;
}

.accordion-item{
    border: none;
    color: red;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;
    list-style: none;
}

.card-product{
    width: 90%;
    border: 1px solid lightgray;
    position: relative;
    border-radius: 0.5rem;
}

.card-product:hover{
    cursor: pointer;
}

.card-product-img{
    position: relative;
    height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.card-product-img img{
    height: 80%;
    margin: 0 auto;
    object-fit: contain;
    width: 80%;
    transition: 0.8s;
}

.card-img-hidden{
    position: absolute;
    opacity: 0%;
}

.card-data-container{
    padding: 30px;
}

.card-product-img:hover .card-img-hidden{
    opacity: 100%;
    transition: 0.8s;
}

.card-product-img:hover .card-img-primary{
    opacity: 0%;
    transition: 0.8s;
}

.card-data-brand{
    color: lightgray;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0;
}

.card-data-title{
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #515151;
    font-weight: 600;
}

.card-product button{
    height: 50px;
    width: 50px;
    line-height: 0;
    color: #fff;
    font-size: 1.3rem;
    background: rgb(52,58,64);
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: center;
}

.product-detail-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: row;
    gap: 3rem;
    padding: 3rem;
}

.product-detail-img-box{
    width: 350px;
    height: 400px;
}

.product-detail-img{
    position: relative;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-detail-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
}

.litle-img{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.litle-img-box{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    padding: 2px;
    cursor: pointer;
}

.litle-box-selected{
    border-radius: 0.5rem;
    border: 1px solid red;
}

.litle-img-box img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.product-detail-button{
    position: absolute;
    background: rgb(52,58,64);
    border-radius: 50%;
    font-size: 1.3rem;
    height: 40px;
    line-height: 2.2;
    width: 40px;
    z-index: 9;
}

.back{
    left: 50px;
}

.next{
    right: 50px;
}

.product-detail-brand{
    color: lightgray;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.product-detail-title{
    margin-bottom: 20px;
    margin-left: 10px;
    color: #515151;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.product-detail-description{
    margin-bottom: 30px;
}

.product-detail-label{
    color: lightgray;
    margin-bottom: 5px;
}

.product-detail-price{
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 10px;
}

.product-detail-price-container{
    display: flex;
    gap: 15rem;
}

.quantity-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.quantity-button{
    background: none;
    height: 30px;
    line-height: 1.9;
    width: 30px;
    border: 1px solid lightgray;
}

.quantity-button:active{
    scale: 1.1;
}

.quantity-value{
    width: 40px;
    line-height: 1.7;
    text-align: center;
    border: 1px solid lightgray;
}

.product-detail-addcart{
    background: rgb(52,58,64);
    color: white;
    font-size: 1.1rem;
    margin: 50px 0;
    padding: 15px;
    width: 100%;
}       

.product-detail-addcart img{
    display: inline-block;
}

.similar-title{
    padding: 2rem;
}

.purchases-title{
    padding: 4rem  0 0 3rem;
}

.purchase-list{
    list-style: none;
}

.purchase-list li{
    text-decoration: none;
}

.purchase-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin-bottom: 3rem;
    text-decoration: none;
}

.purchase-title{
    width: 300px;
    text-decoration: none;
}

.purchase-img-box{
    width: 70px;
    height: 70px;
    text-align: center;
}

.purchase-img-box img{
    object-fit: contain;
    width: 100%;
    margin: 0 auto;
}

.purchase-date{
    color: lightgray;
}

.purchase-quantity{
    padding: 0.5rem 1rem; 
    border: 1px solid lightgray;
}

.cart-li{
    list-style: none;
}

.cart-img-box{
    width: 70px;
    height: 70px;
}

.cart-section1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1.5rem;

}

.cart-quantity-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cart-quantity-input{
    line-height: 1.6;
    padding: 0 20px;
    border: 1px solid lightgray;
    width: 50px;
}

.cart-quantity-box button{
    background-color: rgb(52,58,64);
}

.cart-total-box{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.login-container{
    margin: 5rem auto;
    width: 400px;
    height: 580px;
    background-color: rgb(230, 226, 226);
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
}

.login-title{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #515151;
}

.test-data-container{
    background-color: rgb(192, 248, 248);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 30px;
}

.test-data-container img{
    margin: 0;
    margin-bottom: 15px;
}

.test-data-container div{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.test-data-title{
    color: #515151;
    text-align: center;
}

footer{
    background: #3c3c3b;
    padding: 60px 0;
}

footer p{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

footer p img{
    margin: 0;
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 30px;
}

.icon-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #50504f;
    display: flex;
    align-items: center;
}

